body, html {
    height: 100;
    margin: 0;
    font-family: 'Helvetica Neue';
    font-weight: lighter;
    background-color: whitesmoke;
    line-height: 4ex;
    height: 100%;
    font-size: 2ex;
}

nav {
    display: flex;
    justify-content: space-between; /* splits logo and buttons */
    padding: 1em;  /* spacing between */
    background-color: whitesmoke;  /* nav bar color (silver best) */
    align-items: center;
    margin: 0;
} 

nav ul a {
    color: black;  /* color of nav bar (ghostwhite) */
    padding: .7em; /* button spacing*/
}

nav ul {
    display: flex;
    list-style: none;   /*this removes bullets */
}

nav ul a:hover {     /* this is the highlight for nav link */
    color: #eee;
    background-color: #222;
}

.hero-image {
    background-image: url(images/Warehouse.jpg); /* retaining the overlay just incase linear-gradient(#FFFFFF) 2%, rgba(#FFFFFF) .5%,   */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image-maker1,
.image-maker2,
.image-maker3 {
    display: flex;
    justify-content: center;
    left: 50%;
    right: 50%;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

#calc-main h1,
#total {
    font-family: 'georgia';
    font-weight: bold;
    font-size: 2em;
    color: #444;
    display: flex;
    justify-content: left;
}

#calc-main h2 {
    font-family: 'georgia';
    font-weight: bold;
    font-size: 1.5em;
    color: #444;
    display: flex;
    justify-content: left;
}

#profit-calc-text ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: georgia;
    font-weight: bold;
    font-size: 1.5em;
    color: #444

}

#profit-calc-inputs {
    display: flex;
    justify-content: space-evenly;

}

.hero-image-buyer {
    background-image: url(images/proj-mgmt2.jpg);
    height: 150%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4ex;
    letter-spacing: 3px;
    text-shadow: 1.5px .2px 8px black;
}

.hero-text h1 {
    font-family: 'Baskerville';
    font-weight: normal;
    letter-spacing: 6px;
}

.hero-text button {
    margin-top: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    font-size: .8ex;
}

.hero-text button:hover {
    background-color: ghostwhite;
    color: black;
    box-shadow: 5px 10px 18px #888888;
}

.clicker {
    display: flex;
    justify-content: center;
}

.clicker button {
    margin-top: 5px;
    border: 0;
    outline: 0;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #333;
    cursor: pointer;
    font-size: 3ex;
    box-shadow: 5px 10px 18px #888888;
}

.clicker button:hover {
    background-color: ghostwhite;
    color: black;
    border: 2px solid #333;
    box-shadow: 5px 10px 18px #888888;
}

.card-1 button,
.card-about button,
.banner-press button {
    margin-top: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: .8ex;
}

.card-1 button:hover,
.card-about button:hover,
.banner-press button:hover {
    background-color: #333;
    color: white;
    box-shadow: 5px 10px 18px #888;
}

.hero-text-about {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4ex;
    letter-spacing: 3px;
    text-shadow: .4px .4px .8px black;
}

.hero-text-about h1 {
    font-family: 'Baskerville';
    font-weight: normal;
    letter-spacing: 6px;
}

#card-1 ul {
    list-style: none;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-1 {
    width: 650px;
    margin: 18em 5em 12em 5em;
}

.card-1 h3 {
    font-size: 3em;
    font-family: 'baskerville';
    font-weight: bold;
    letter-spacing: 0px;
    color: #444;
}

.about-title {
    font-size: 5em;
    font-family: 'baskerville';
    font-weight: bold;
    letter-spacing: 0px;
    color: #444;
    text-align: center;
    margin: 2em;
}

.about-subtitle {
    font-size: 2em;
    font-family: 'helvetica neue';
    margin: 2em 12em 4em 12em;
}

#card-about ul {
    list-style: none;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    text-align: left;
}

.card-about {
    width: 680px;
    margin: 12em 5em 12em 5em;
}

.card-about h3 {
    font-size: 3em;
    font-family: 'baskerville';
    font-weight: bold;
    letter-spacing: 0px;
    color: #444;
}

.card-1 p,
.card-about p {
    font-size: 1.5em;
    font-family: 'helvetica neue';
    font-weight: lighter;
    color: #444;
    margin: 0;
    padding: .25em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    width: 60%;
    
}

#timeline {
    display: flex;
    justify-content: center;
    margin: 15ex;
}

.timeline h1 {
    font-family: 'Baskerville';
    font-weight: normal;
    letter-spacing: 6px;
}


#banner {  /* Banner hero */
    background-image: url(images/ThesisLabs2.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner > div { /* Hero alignment */
    padding: 2em;
    width: 100%;
    height: auto;
    max-width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.banner-press {    /* Hero text */
    font-family: 'Helvetica Neue';
    display: flex;
    color: white;
    font-size: 4ex;
    letter-spacing: 3px;
    text-shadow: 0px 0px 6px black;
}

/* MODAL FOR BUTTON */

#button-press {
    cursor: pointer;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  
  .img-responsive {
      width: 100%;
  }
  
  .narrow {
      width: 50%
  }
  


#card-4 {
    margin: 8em 5em 5em 5em;
    display: flex;
    flex-direction: row;
} 

#card-4 h3 {
    font-size: 2em;
    font-family: 'baskerville';
    font-weight: lighter;
    letter-spacing: 4px;
    margin: 1.5ex;
}

#card-4 p {
    margin: 2.5ex;
}

#card-4 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 30px;
    margin: 20px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 1.2ex;
}

#card-4 button:hover {
    background-color: #222;
    color: white;
}

#card-5 {
    margin: 5em 5em 5em 5em;
    display: flex;
    flex-direction: row-reverse;
}

#card-5 h3 {
    font-size: 2em;
    font-family: 'baskerville';
    font-weight: lighter;
    letter-spacing: 4px;
    margin: 1.5ex;
}

#card-5 p {
    margin: 2.5ex;
}

#card-5 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 30px;
    margin: 20px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 1.2ex;
}

#card-5 button:hover {
    background-color: #222;
    color: white;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ddd;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 1ex;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #555;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#contact > div > h3 {
    font-size: 2em;
    font-family: 'baskerville';
    font-weight: lighter;
    letter-spacing: 4px;
    margin: 2ex .1ex 2.5ex 0;
}

/* Styles for contact page */
#contact {
    margin: 10ex 0ex 20ex 0ex;
    max-width: 50%;
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: center;
}