body, html {
    height: 100;
    margin: 0;
    font-family: 'Helvetica Neue';
    font-weight: lighter;
    background-color: whitesmoke;
    line-height: 4ex;
    height: 100%;
    font-size: 2ex;
}

nav {
    display: flex;
    justify-content: space-between; /* splits logo and buttons */
    padding: 1em;  /* spacing between */
    background-color: whitesmoke;  /* nav bar color (silver best) */
    align-items: center;
    margin: 0;
} 

nav ul a {
    color: black;  /* color of nav bar (ghostwhite) */
    padding: .7em; /* button spacing*/
}

nav ul {
    display: flex;
    list-style: none;   /*this removes bullets */
}

nav ul a:hover {     /* this is the highlight for nav link */
    color: #eee;
    background-color: #222;
}




.hero-image {
    background-image: url(images/Warehouse.jpg); /* retaining the overlay just incase linear-gradient(#FFFFFF) 2%, rgba(#FFFFFF) .5%,   */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-maker {
    background-image: url(images/proj-mgmt2.png);
    height: 150%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.hero-image-buyer {
    background-image: url(images/proj-mgmt.png);
    height: 150%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4ex;
    letter-spacing: 3px;
    text-shadow: .2px .2px .5px black;
}

.hero-text h1 {
    font-family: 'Baskerville';
    font-weight: normal;
    letter-spacing: 6px;
}

.hero-text button {
    margin-top: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    font-size: .8ex;
}

.hero-text button:hover {
    background-color: ghostwhite;
    color: black;
    box-shadow: 5px 10px 18px #888888;
}

#card-1 ul {
    list-style: none;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    text-align: center;
}

#card-1 > h2 {
    margin: 5em 2em 2em 2em;
    font-size: 2.5em;
    text-align: center;
}

.card-1 {
    width: 650px;
    margin: 12em 5em 12em 5em;
}

.card-1 h3 {
    font-size: 2em;
    font-family: 'baskerville';
    font-weight: lighter;
    letter-spacing: 14px;
}

.card-1 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 30px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 1.2ex;
}

.card-1 button:hover {
    background-color: #222;
    color: white;
}

#banner {  /* This part is for the photo */
    background-image: url(images/ThesisLabs2.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner > div { /* This part is text layout */
    padding: 2em;
    width: 100%;
    height: auto;
    max-width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.banner-press {    /* This part is just the text styling */
    font-family: 'Helvetica Neue';
    display: flex;
    color: white;
    font-size: 4ex;
    letter-spacing: 3px;
    text-shadow: 0px 0px 6px black;
}

#card-4 {
    margin: 8em 5em 5em 5em;
    display: flex;
    flex-direction: row;
} 

#card-4 h3 {
    font-size: 2em;
    font-family: 'baskerville';
    font-weight: lighter;
    letter-spacing: 4px;
    margin: 1.5ex;
}

#card-4 p {
    margin: 2.5ex;
}

#card-4 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 30px;
    margin: 20px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 1.2ex;
}

#card-4 button:hover {
    background-color: #222;
    color: white;
}

#card-5 {
    margin: 5em 5em 5em 5em;
    display: flex;
    flex-direction: row-reverse;
}

#card-5 h3 {
    font-size: 2em;
    font-family: 'baskerville';
    font-weight: lighter;
    letter-spacing: 4px;
    margin: 1.5ex;
}

#card-5 p {
    margin: 2.5ex;
}

#card-5 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px 30px;
    margin: 20px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 1.2ex;
}

#card-5 button:hover {
    background-color: #222;
    color: white;
}

/* This one is the container size for gallery */
#slides {
    width: 1300px;
    height: 1200px;
    margin: auto;
}

.ms-slides__inner {
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transition: 1000ms;
}

.ms-slides {
    overflow: hidden;
    position: relative;
}

.ms-slides__next-button, .ms-slides__prev-button {
    display: block;
    width: calc(40px - 8px);
    height: calc(40px - 8px);
    border-radius: 50%;;
    background-color:rgba(255,255,255,0.5);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display:flex;
    justify-content: center;
    align-items: center;
    border: 4px solid transparent;
}

.ms-slides__next-button:hover, 
.ms-slides__prev-button:hover {
    border: 4px solid #fff;
}

.ms-slides__next-button {
    right: calc(1em - 4px);
}

.ms-slides__prev-button {
    left: calc(1em - 4px);
}

.ms-slides__next-button::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: translate(-2px, 0) rotate(45deg);
}

.ms-slides__prev-button::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: translate(2px, 0) rotate(45deg);
}

.ms-slides__indicators {
    list-style: none;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    left: 50%;
    bottom: 1em;
    transform: translate(-50%, 0);
}

.ms-slides__indicators > li {
    width: 16px;
    height: 16px;
    margin: 4px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}








/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ddd;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-size: 1ex;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #555;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#contact > div > h3 {
    font-size: 2em;
    font-family: 'baskerville';
    font-weight: lighter;
    letter-spacing: 4px;
    margin: 2ex .1ex 2.5ex 0;
}

#footer {
    display: flex;
    justify-content: center;
}
