body, html {
    height: 100;
    margin: 0;
    font-family: 'Helvetica Neue';
    font-weight: lighter;
    background-color: whitesmoke;
    line-height: 4ex;
    height: 100%;
    font-size: 2ex;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between; /* splits logo and buttons */
    padding: 1em;  /* spacing between */
    background-color: #303030;  /* nav bar color (silver best) */
    align-items: center;
    margin: 0;
} 

nav ul a {
    color: black;  /* color of nav bar (ghostwhite) */
    padding: .7em; /* button spacing*/
    
}

nav a {
    text-decoration: underline;
    color: #black;    /* color of nav #eee text*/
}

nav ul {
    display: flex;
    list-style: none;   /*this removes bullets */
    text-shadow: 1px 1px grey;  /* this is the shadows for nav link */
}


nav ul a:hover {     /* this is the highlight for nav link */
    color: #eee;
}

article{
    color: white;   


}